@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <video autoplay id="video" width="640" height="480"></video>
    <input id="snap" type="button" value="Click" />
    <canvas id="canvas" width="640" height="480"></canvas>
    <input id="checkFace" type="button" value="Check face" />
    <input id="linkFace" type="button" value="Link face" />
    <input id="deleteIdentity" type="button" value="Delete identity" />
</div>