@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <video autoplay id="video" width="640" height="480"></video>
    <input id="snap" type="button" value="Click" />
    <canvas id="canvas" width="640" height="480"></canvas>
    <input id="upload" type="button" value="Upload" />
</div>