@using System.Security.Principal

@if (User.Identity.IsAuthenticated)
{
    <div id="avatar" data-win-control="WinJS.UI.NavBarCommand" data-win-options="{ label: '@User.Identity.Name', icon: 'contact'}"></div>
}
